[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ansible = "*"
fastapi = {extras = ["standard"], version = "*"}
boto3 = "*"
cfn-lint = "*"

[dev-packages]

[requires]
python_version = "3.12"
